<div class="main-div" [class.open]="isSecondCardOpen" [class.closed]="!isSecondCardOpen">
    <mat-card class="mat-card-1" (click)="this.isSecondCardOpen = !this.isSecondCardOpen">
        <mat-card-content class="mat-card-content-1">Take a note...
            <div class="mat-card-1-icon">
            <img class="icon-img" src="../../../assets/checkbox.svg" alt="">
            <img class="icon-img" src="../../../assets/brush.svg" alt="">
            <img class="icon-img" src="../../../assets/addImage.svg" alt="">
              
            </div>
        </mat-card-content>
    </mat-card>

    <!-- @todo: background color -->
    <mat-card class="mat-card-2" *ngIf="isSecondCardOpen" [style.background]="selectedColor">
        <div class="mat-card-2-title">
            <input [style.background]="selectedColor" [(ngModel)]="title" placeholder="Title" />
            <i class="fa-solid fa-thumbtack fa-xl" style="color: #5f5d5d; font-size: medium"></i>
        </div>

        <input [style.background]="selectedColor" [(ngModel)]="description" class="mat-card-2-description" placeholder="Take a note.." />
        <app-card-footer (onColorchange)="setColor($event)" [noteData]="note" [isCreateNoteComponent]="isCreateNoteComponent" from="create" (onClose)="onSubmit()"></app-card-footer>
    </mat-card>
</div>