<div class="main-div" [class.open]="isSecondCardOpen" [class.closed]="!isSecondCardOpen">
    <mat-card class="mat-card-1" (click)="this.isSecondCardOpen = !this.isSecondCardOpen">
        <mat-card-content class="mat-card-content-1">Take a note...
            <div class="mat-card-1-icon">
                <i class="fa-regular fa-square-check fa-lg"></i>
                <i class="fa-solid fa-paintbrush fa-lg"></i>
                <i class="fa-regular fa-image fa-lg"></i>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-2" *ngIf="isSecondCardOpen">
        <div class="mat-card-2-title">
            <input [(ngModel)]="title" placeholder="Title" />
            <i class="fa-solid fa-thumbtack fa-xl" style="color: #5f5d5d; font-size: medium"></i>
        </div>

        <input [(ngModel)]="description" class="mat-card-2-description" placeholder="Take a note.." />

        <app-card-footer from="create" (onClose)="onButtonClick()"></app-card-footer>
    </mat-card>
</div>