
<mat-toolbar  class="example-toolbar" >

<div style="display: flex;align-items: center; ">

  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"alt=""/>
  <h1 class="example-app-name">Fundoo Notes</h1>

</div>

<input type="search" placeholder="Search...">

<div class="app-bar-3rd-div">
 
  <i class="fa-solid fa-rotate-right fa-lg" style="color: #7C7C7C;"></i>
  <i class="fa-solid fa-grip fa-lg" style="color: #7C7C7C;"></i>
   <i class="fa-solid fa-gear fa-lg"style="color: #7C7C7C;"></i>
  <i class="fa-sharp fa-solid fa-circle-user fa-lg"style="color: #7C7C7C;"[matMenuTriggerFor]="menu"></i>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logOutFunction">Sign Out</button>
</mat-menu>
</div>

</mat-toolbar>


<!-- ----------------------------------------sidenav & main-content---------------------------->

<mat-sidenav-container
  class="example-sidenav-container"
  [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
>
  <mat-sidenav
    #snav
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
    style="border: none;"
    
  >
  <mat-nav-list style="width: 18vw;">
      <div class="side-nav-content">
        <i id="side-nav-icon" class="fa-solid fa-lightbulb fa-2xl"></i>
        <p id="side-nav-text">Notes</p>
      </div>

      <div class="side-nav-content">
        <i id="side-nav-icon" class="fa-solid fa-bell fa-2xl"></i>
        <p id="side-nav-text">Remainders</p>
      </div>

      <div class="side-nav-content">
        <i id="side-nav-icon" class="fa-solid fa-pencil fa-2xl"></i>
        <p id="side-nav-text">Edit lables</p>
      </div>

      <div class="side-nav-content">
        <i id="side-nav-icon" class="fa-solid fa-folder-plus"></i>
        <p id="side-nav-text">Archive</p>
      </div>

      <div class="side-nav-content">
        <i id="side-nav-icon" class="fa-solid fa-trash-can fa-2xl"></i>
        <p id="side-nav-text">Bin</p>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="background-color: rgb(248, 248, 248);">
    
 
    <router-outlet></router-outlet>
    <!-- <app-take-a-note/> -->
  </mat-sidenav-content>
</mat-sidenav-container>
