<div *ngFor="let note of allNotes">
  <mat-card>
    <mat-card-header>{{ note.title }}</mat-card-header>
    <mat-card-content>{{ note.description }}</mat-card-content>

    <mat-card-footer class="mat-card-icon">
      <i class="fa-solid fa-bell fa-xl"></i>
      <i class="fa-solid fa-user-plus fa-xl"></i>
      <i class="fa-solid fa-palette fa-xl"></i>
      <i class="fa-solid fa-image fa-xl"></i>
      <i class="fa-solid fa-folder-plus fa-xl"></i>
      <i class="fa-solid fa-caret-down fa-2xl" [matMenuTriggerFor]="menu"></i>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>Add Drawing</button>
        <button mat-menu-item>Add Label</button>
      </mat-menu>
    </mat-card-footer>
  </mat-card>
</div>
