<div class="mainBlock">

    <mat-card [style.background]="data.color" style="width: auto;">
        <mat-card-content>

            <div fxLayout="row" fxLayoutAlign="space-between" class="title">
                <input [style.background]="data.color" placeholder="Title" [(ngModel)]="title">

            </div>

            <br>

            <div class="description">
                <input [style.background]="data.color" [(ngModel)]="description" placeholder="Note">
            </div>

            <br>
            <div style="display: flex;justify-content: space-between;align-content: center;">
                <app-card-footer [noteData]="data" from="dialogBox" [noteId]="data.id" (onColorchange)="updateColor($event)"></app-card-footer>
                <button class="close-note" id="close" (click)=updateNote()>Close</button>
            </div>
        </mat-card-content>
    </mat-card>

</div>