<div class="container">
  <div class="icon-container">
    <span class="left" *ngIf="from !== 'trash'">
      <button>
        <div class="icon">
          <img class="icon-Img" src="../../../assets/remainder.svg" alt="" />
        </div>
      </button>
      <button>
        <div class="icon">
          <img class="icon-Img" src="../../../assets/collaborator.svg" alt="" />
        </div>
      </button>

      <button [matMenuTriggerFor]="colorPalette">
        <div class="icon">
          <img class="icon-Img" src="../../../assets/colorpallate.svg" alt="" />
        </div>
      </button>
      <mat-menu #colorPalette="matMenu">
        <div class="colorPaletteHorizontal">
          <div class="colorButton" *ngFor="let color of colors" (click)="setColor(color.code)">
            <button mat-mini-fab [style.background]="color.code"></button>
          </div>
        </div>
      </mat-menu>
      

      <button>
        <div class="icon">
          <img class="icon-Img" src="../../../assets/addImage.svg" alt="" />
        </div>
      </button>
      <button (click)="archive()" *ngIf="from !== 'archive'">
        <div class="icon">
          <img class="icon-Img" src="../../../assets/archive.svg" alt="" />
        </div>
      </button>
      <button (click)="unarchive()">
        <div class="icon" *ngIf="from == 'archive'">
          <img class="icon-Img" src="../../../assets/unarchive.svg" alt="" />
        </div>
      </button>

      <button [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
          <ng-container *ngIf="isCreateNoteComponent">
            <button mat-menu-item>Add Drawing</button>
            <button mat-menu-item>Add Label</button>
          </ng-container>
          <ng-container *ngIf="!isCreateNoteComponent">
            <button mat-menu-item (click)="delete()">Delete</button>
          </ng-container>
        </mat-menu>
        <div>
          <img
            class="more-icon-Img"
            src="../../../assets/moreIcon.svg"
            alt=""
          />
        </div>
      </button>
    </span>

    <span>
      <button
        id="close"
        *ngIf="from == 'create'"
        mat-stroked-button
        (click)="onButtonClick()"
      >
        close
      </button>
    </span>
    <span class="right" *ngIf="from == 'trash'">
      <button (click)="deleteForever()">
        <div class="icon">
          <img class="icon-Img" src="../../../assets/deleteForever.svg" alt="" />
        </div>
      </button>
      <button (click)="restoreDelete()">
        <div class="icon">
          <img class="icon-Img" src="../../../assets/restoreDelete.svg" alt="" />
        </div>
      </button>
    </span>
  </div>
</div>
